.background {
    background-color: #1c1e21;
    color: #fff;
    height: 100vh;
}

.loginPage {
    background-color: #fff;
    border-radius: 8px;
    padding: 60px 6rem;
    width: 50%;
}

.wrapper-background {
   text-align: center;
   margin: auto;
}