@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

.main-app {
  display: grid;
  grid-template-rows: auto auto!important;
  grid-auto-columns: 2fr!important;
}

body {
  font-family: 'Mukta', sans-serif;
}